[submodule "api"]
	path = api
	url = https://github.com:dlfinis/sigma-api.git

[submodule "frontend"]
	path = frontend
	url = https://github.com:dlfinis/sigma-frontend.git
	branch = development

[submodule "dist"]
	path = dist
	url = https://github.com:dlfinis/sigma-frontend-dist.git
