[submodule "sigma-api"]
	path = api
	url = git@github.com:dlfinis/sigma-api.git

[submodule "sigma-frontend"]
	path = frontend
	url = git@github.com:dlfinis/sigma-frontend.git
	branch = development

[submodule "sigma-frontend-dist"]
	path = dist
	url = git@github.com:dlfinis/sigma-frontend-dist.git

